[submodule "submodule/micropython"]
	path = submodule/micropython
	url = https://github.com/openmv/micropython
[submodule "submodule/openmv"]
	path = submodule/openmv
	url = https://github.com/openmv/openmv

